<Server port="8006" shutdown="SHUTDOWN">

	<Service name="Catalina">

		<Connector address="127.0.0.1" port="8010" backlog="32768" bufferSize="262144" connectionTimeout="30" maxSpareThreads="256"
			maxThreads="4096" minSpareThreads="256" tcpNoDelay="true" tomcatAuthentication="false" URIEncoding="ISO-8859-1" enableLookups="false"
			protocol="AJP/1.3" />

		<Engine name="Catalina" defaultHost="localhost">

			<Host name="alicehometv2007.preview.alice.it" appBase="/store1/www/alicehometv2007.preview.alice.it/doc_root/webapps"
				unpackWARs="false" autoDeploy="false" deployOnStartup="false" xmlValidation="false" xmlNamespaceAware="false">

				<Context path="/ahtv" docBase="/store1/www/alicehometv2007.preview.alice.it/doc_root/webapps/ahtv"
					workDir="/store1/www/alicehometv2007.preview.alice.it/doc_root/webapps/ahtv/WEB-INF/work" unpackWARs="false" autoDeploy="false"
					deployOnStartup="false" processTlds="false" xmlValidation="false" xmlNamespaceAware="false" debug="0" reloadable="false">

					<WatchedResource>WEB-INF/web.xml</WatchedResource>
					<Manager pathname="" />

				</Context>
				<Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs" prefix="localhost_preview_access_log." suffix=".txt"
					pattern="common" resolveHosts="false" />

			</Host>

			<Host name="alicehometv.collaudo.alice.it" appBase="/store1/www-collaudo/alicehometv2007.alice.it/doc_root/webapps"
				unpackWARs="false" autoDeploy="false" deployOnStartup="false" xmlValidation="false" xmlNamespaceAware="false">
				<Alias>alicehometv.alice.it</Alias>
				<Context path="/ahtv" docBase="/store1/www-collaudo/alicehometv2007.alice.it/doc_root/webapps/ahtv"
					workDir="/store1/www-collaudo/alicehometv2007.alice.it/doc_root/webapps/ahtv/WEB-INF/work" unpackWARs="false" autoDeploy="false"
					deployOnStartup="false" processTlds="false" xmlValidation="false" xmlNamespaceAware="false" debug="0" reloadable="false">

					<WatchedResource>WEB-INF/web.xml</WatchedResource>
					<Manager pathname="" />

					<Resource name="jdbc/ahtvDataSource" 
						auth="Container"
						type="javax.sql.DataSource" 
						driverClassName="oracle.jdbc.OracleDriver"
						url="jdbc:oracle:thin:@db-coll-ahtv.virgilio.net:1521:DBCOLLAHTV"
						username="db_webtv" 
						password="db_webtv"
						initialSize="0" 
						maxActive="40" 
						maxIdle="20"
						minIdle="0"
						maxWait="10000"
						timeBetweenEvictionRunsMillis="60000"
						minEvictableIdleTimeMillis="600000"
						numTestsPerEvictionRun="3"
						accessToUnderlyingConnectionAllowed="true"/> 
						
				</Context>
				<Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs" prefix="localhost_collaudo_log." suffix=".txt"
					pattern="common" resolveHosts="false" />
			</Host>

		</Engine>

	</Service>

</Server>
